/* Need to import fonts*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Start of navbar CSS */

/* Moves the navbar content inward from the edges */
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background-color: crimson;
    font-family: 'Ubuntu', sans-serif;
}

/* moves menu list items to the far right side */
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Changes the size and color of the Portfolio logo */
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

/* Re-orientates the menu list items from vertical to horizontal */
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

/* Changed the color, sizing and spacing of the navbar list items */
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

/* This allows the text to hightlight in bold when move cursor over it */
.navbar .menu li a:hover {
    color: black;
    font-weight: bold;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}

/* End of navbar CSS */

/* Start Home section styling */
.home {
    display: flex;
    /*Note: front page image for home section*/
    background-image: url(./Images/Home\ image.jpg);
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

/* This code moves the home text to the left of the screen */
.home .max-width {
    margin:auto 0 auto 40px;
}

/* This will style the individual text lines */

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

/* This targets the text inside the span tags in text-3 */
.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}



/* About section styling */

section {
    padding: 100px 0;
}

.about {
    font-family: 'poppins', sans-serif;
    display: flex;
}

/* About title start */

/* This formats the h2 title */
.about-me .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu' sans-serif;
}

/* This underlines the About me h2 title */
.about-me .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

/* This adds in the red My Story */
.about-me .title::after {
    content: "My Story";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background-color: #fff;
    transform: translateX(-50%);
}

/* Now, trying to get flexbox to work with about img and p */
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-item {
    width: 2fr;
    height: 2fr;
    background-color: lightgray;
    flex: 1 0 0;
}

#img {
    margin: 10px;
    padding-left: 100px;
}

#description {
    display: flex;
    font-size: auto;
    padding: 50px;
}

/* stopped at 41:03 */

